
.Container {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 125px;
    justify-content: center;
}

.button-container-create-class {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

